#container{
    font-family: 'Red Hat Display', sans-serif;
    background-color: #A1E3B0;
    max-width: 360px;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15%;
    margin-left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-weight: 500 bolder;
    display: flex;

}
input{
    border: none;
    padding: 10px 20px;
}
#username{
    margin-bottom: 5px;
}
.action_button{
    border-radius: 5px;
    border: none;
    font-size: 22px;
    margin-top: 10px;
    background-color: white;
    padding: 10px 20px;
}
&[disabled]{
    background-color: #ccc;
    cursor: not-allowed;
}
.button-background{
    width: 150px;
    background-color: grey;
    padding-bottom: 0%;
}
.sidebar{
    margin-top:-16px;
    background-color: grey;
    min-height: 150vh;
    width: 150px;
}
li{
    list-style: none;

}
.home-button{
    background-color: grey;
    border: none;
}
.sign-out-button{
    background-color: grey;
    border: none;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_page{
    background-color: grey;
    border: none;
}